
body {
    font-family: 'Poppins', sans-serif;
    background-color: #efe9e9;
}

.promo{
     background-color: #e30613;
}

.navbar{
    background-color: #7ab929;
}

.btn-go{
    background-color: #e30613;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

#slider {
    position: relative;
}


.carousel-control-next, .carousel-control-prev {
    top: 30%;
    bottom: auto;
    height: 100px;
}


header {
    position: relative;
    z-index: 2000;
}

.card {
    width: 20 rem;
}


.card:hover .card-img-top {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.card:hover{
    border-color: #7ab929;
}

.btn, .badge {
    background-color: #e30613;
    color: #fff;
    border: none;
}

.col-subscribe {
    font-size: 30px;
}

.btn:hover {
    background-color: #7ab929;
}


.glow:hover{
     color: #7ab929;
}

.badge:hover {
    background-color: #7ab929;  
}

.contact-form{
    max-width: 750px;
    max-height: 750px;
}








